.award-bg{
    background:linear-gradient(180deg, rgba(0, 137, 186, 0) 0%, rgba(76, 7, 188, 0.83) 100%) ,url("../../../assets/images/Banner/awards.png");
    background-size: cover;
    object-fit: cover;
    background-position: center;
}